.FormBody {
    margin-top: 1cm;
}

.FormElement input {

    background-color: lightskyblue;
    width: 100%;

}
select {
    width: 100%;
}
.FormButton {
    background-color: lightsalmon;
    margin-right: 1cm ;
}
li {
    font-weight: bold;
}
ol{
    border: 1px solid black;
}

